{% extends 'base.html'%}

{% block content %}
<div class="container mt-4">
<div class="row">
  <div class="col-md-4">
    <div class="card" style="background-color: #97aabd;">
      <div class="user-image">
        {% if user.profile_pic_path %}
        <img src="{{url_for('static',filename=user.profile_pic_path)}}" class="user-image"  alt="IMG">            
        
        {%else%}
        <p class="text-center">No profile picture</p>
        {% endif %}
      </div>
      <div class="card-body">
        <h5 class="text-center"> {{user.username }}</h5>
        <hr>
        
        {% if user.bio %}
        <p>{{user.bio}}</p>
        
        {%else%}
        <p> There is no bio for {{user.username }}</p> 
        {% endif %} 
        
        {% if user == current_user %} 
        <div class="profile-pic">
          <div class="update-pic">
            <a href="{{url_for('main.update_user_profile',name=user.username)}}" style="margin-right: 15px;">Edit Bio</a>
            <button class="btn btn-sm btn-info" style="margin-bottom: 10px; background-color: #9e5a63;color: #FFFFFF;">Update profile picture</button>
          </div>
          <div id="image-form">
            <form  action="{{url_for('main.update_pic',name=user.username)}}" method="post" enctype = "multipart/form-data">
              <input type="file"  name="photo" class="form-control" required>
              <input type="submit" class="btn btn-sm btn-info mt-2" id="submit" style="background-color: #9e5a63;color: #FFFFFF;">
            </form>
          </div>
        </div>
        {% endif %} 
      </div>
    </div>
  </div>
  
  <div class="col-md-8" id="user">
    {% if current_user %}
    <h5 class="text-center" style="color: #9e5a63;">You have {{user.pitches.count()}} Pitches</h5>

    {% for pitch in user.pitches%}
    <div class="card" style="background-color: #314455; color: #FFFFFF; margin-bottom: 15px;">
      <div class="card-title">
        <h5 style="padding-left: 10px; padding-top: 10px;">Title: {{pitch.title}}</h5>
      </div>
      <div class="card-body">
        <h6 style="margin-bottom: 10px;">{{pitch.text}}</h6>
        <h6>{{pitch.posted}}</h6>
      </div>
      <div class="card-footer">
        <p>{{pitch.comment.count()}} Comments</p>
      </div>
    </div>
    {% endfor %}
    
    {%else%}
    <h3>You have no pitches</h3>
    
    {%endif%}
  </div>
</div>

{% endblock %}