{% extends 'base.html' %} 
<!-- {% import 'macros.html' as macro %}  -->


{% block content %} 
<div class="container-fluid mt-4">
    <div class="row">
        
        {% if pitches %}
        {% for pitch in pitches %}
        <div class="col-md-4" >
            <div class="card" style="margin-bottom: 15px; min-height: 400px; background-color: #314455; color: #FFFFFF;">
                <div class="card-header">
                    <h4>{{pitch.title}}</h4>
                </div>
                
                <div class="card-body">
                    <p class="card-title">{{pitch.text}}</p>
                    <p class="card-text">Category: {{pitch.category}}</p>
                    <span class="foot" style="margin-right: 25px;"> <a href="{{url_for('main.upvote',id = pitch.id)}}"><i class="fa-solid fa-thumbs-up" style="color: green;"></i></a> {{pitch.upvote.count()}}</span>

                    <span class="foot" > <a href="{{url_for('main.downvote',id = pitch.id)}}"><i class="fa-solid fa-thumbs-down" style="color: red;"></i></a> {{pitch.downvote.count()}}</span>


                </div>
                <div class="card-footer">
                    <p style="font-size: 14px;">***Posted by: {{pitch.user.username}} on {{pitch.posted}}</p> 
                    <p style="font-size: 14px;">{{pitch.comment.count()}} Comments</p>
                    <a href="#" class="btn btn-sm" style="background-color: #9e5a63;color: #FFFFFF;">Leave your Comment</a> 
                </div> 
            </div>
        </div>
        {% endfor %}

        {% else %}
        <div class="no-pitches">
            <p class="text-center">No pitches at the moment</p> 
        </div>
        {% endif %}
        
    </div>
</div>

{% endblock %}